@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Navbar */
.navbar {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #211c1c; 
    color: black; 
    transition: background-color 0.3s ease, padding 0.3s ease; 
    z-index: 1000;
}

.navbar:hover {
    background-color: #000; 
    padding: 20px 20px; 
}

.navbar__logo img {
    width: 10rem;
    margin-right: 20px;
}

.navbar__links {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    position: relative;
}

.navbar__item a {
    color: #fff; 
    padding: 0;
    text-decoration: none;
    font-weight: bold;
}

.navbar__item a:hover {
    background-color: #C39682; 
}

.menu-button {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
    background: none;
    border: none;
    width: 60px;
    height: 50px;
    transition: top 0.2s ease-in-out;
}

.menu-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: top 0.5s ease-in-out;
}

.menu-ref {
    display: block; 
    width: 100%;
    text-align: center; 
    height: auto;
    padding: 8px 0;
    color: #000;
}

/* Dropdown menu */
.dropdown {
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #e0dcdc;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 100; 
}

.dropdown li {
    width: 100%;
}

.dropdown li a {
    padding: 10px 20px;
    display: block;
    color: black;
}

.dropdown li a:hover {
    background-color: #C39682;
    
}


.dropdown li:last-child a:hover {
    background-color: #C39682;
    border-radius: 0 0 10px 10px;
}


.navbar__item:hover .dropdown {
    display: block;
    
}

.navbar__buttons button {
    background-color: #C1937D;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar__buttons button:hover {
    background-color: #83574E;
}


.navbar:hover {
    background-color: #000; 
    padding: 20px 20px;
}


@media (max-width: 839px) {
    .menu-button {
        display: block;
    }

    .navbar__buttons {
        transform: translateX(-60px);
    }

    .dropdown {
        border: none;
        position: relative; /* relative es buena idea */
        /* transform: translateY(10px); */
        border-radius: 0 0 10px 10px;
    }

    .navbar__links {
        width: 40%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #88544c;
        height: 100vh;
        padding: 30px;
        opacity: .95;
        transform: translateX(-60vw);
    }

    .navbar__links.transition { 
        transition: transform .5s ease-in-out; 
    }

    .navbar:hover .menu-button {
        top: 24px; /* Cambio de top en hover */
    }

    .navbar__links.openMenu {
        transform: translateX(-20px);
    }

    .navbar__links li.navbar__item {
        margin-left: 20px;
        margin-right: 20px;
        padding: 30px;
        border-bottom: #ccc solid;
    }

    .navbar__links li.navbar__item:last-child {
        border-bottom: none;
    }

    .navbar__links.active {
        display: flex;
    }

}

/* Home Section */
.home {
    position: relative;
    background-image: url('../imgs/home.webp');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    text-align: center;
    padding: 0 20px; 
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.home__text {
    position: relative;
    z-index: 2; 
    max-width: 800px; 
}

.home__title {
    font-size: 3em;
    margin-bottom: 20px;
}

.home__description {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Animation */
@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

/* About Us */
.about-us {
    background-color: #D9D9D9;
    padding: 50px 0;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.about-us__image {
    flex: 1 1 50%;
    max-width: 400px;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

.about-us__image img {
    width: 100%;
    height: auto;
    display: block;
}

.about-us__text {
    flex: 1 1 50%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us__title {
    width: 80%;
    font-size: 2em;
    margin-bottom: 20px;
}

.about-us__description {
    width: 80%;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

/* TUTORIALES */
.tutoriales__title {
    margin-top: 2rem;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutoriales__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

.tutoriales-feed {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.tutoriales-card {
    background-color: #C1937D;
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in;
    text-decoration: none;
    border-radius: 8px;
}

.tutoriales-card:hover {
    transform: translateY(-10px);
}

.tutoriales-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.tutoriales-content {
    padding: 10px 0;
}

.tutoriales-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.tutoriales-text {
    font-size: 0.875em;
    margin-top: 5px;
    color: #ffffff;
}



@media (max-width: 615px) {
    .tutoriales__grid {
        padding: 0 2rem;
        grid-template-columns: repeat(auto-fit, 100%);
    }
    
    .tutoriales__item {
        width: 100%;
    }
}


/* COMUNIDAD */
#comunidad {
    padding-bottom: 5rem;
    padding-top: 5rem;
    background-color: #83574E;
}
.carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 40px; 
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 1 0 33.33%; 
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background: #ffffff;
    border-right: 1px solid #ddd;
}


.carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: -30px; 
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    width: 80px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 20px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: #C1937D;
}

@media (max-width: 1200px) {
    .carousel-item {
        flex: 1 0 50%; 
    }
}

@media (max-width: 768px) {
    .carousel-item {
        flex: 1 0 100%; 
    }
}

.image {
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.comunidad__title {
    color: #FFF;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comunidad-text {
    text-align: center;
    font-size: 20px;
    color: #efefef;
}

.container-carrousel {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 100%;
    height: 60px;
    justify-content: center;
}

.columns {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start; 
}

.columns p,
.globo p {
    padding: 0;
    margin: 0;
    font-weight: 600;
}
.globo {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start; 
    width: 100%; 
}

.comentarios {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

.wa__close_btn {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.wa__close_btn:hover {
    color: #ff0000;
}


/*Footer*/
/* General Styling */

footer.site-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer h6 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

footer p,
footer a {
    color: #ccc;
    font-size: 14px;
    line-height: 1.6;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Container */
footer .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Row */
footer .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

footer .row > div {
    padding: 10px;
}

/* Column Styles */
footer .col-sm-12,
footer .col-md-6 {
    flex: 1 1 100%;
}

footer .col-xs-6,
footer .col-md-3 {
    flex: 1 1 50%;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}

footer ul li a {
    color: #ccc;
    text-decoration: none;
}

footer ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Horizontal line */
footer hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 20px 0;
}

/* Social Icons */
footer .social-icons {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .social-icons li {
    margin-left: 10px;
}

footer .social-icons a {
    color: #ccc;
    font-size: 16px;
}

footer .social-icons a:hover {
    color: #fff;
}

/* Copyright Text */
footer .copyright-text {
    font-size: 14px;
    color: #ccc;
}

/* Responsive Design */
@media (min-width: 768px) {
    footer .col-md-6 {
        flex: 1 1 50%;
    }

    footer .col-md-3 {
        flex: 1 1 25%;
    }
}

@media (max-width: 576px) {
    footer .social-icons {
        justify-content: center;
    }

    footer .row {
        flex-direction: column;
    }

    footer .copyright-text {
        text-align: center;
        margin-bottom: 10px;
    }
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.copyright-text {
    margin: 0;
}

@media (max-width: 991px) {
    .site-footer [class^="col-"] {
    margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .site-footer {
    padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
    text-align: center;
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}

@media (max-width: 767px) {
    .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
    }
}
