<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <nav class="navbar">
            <div class="navbar__logo">
                <img src="../imgs/logoOf.png" alt="Logo">
            </div>
            <ul class="navbar__links">
                <li class="navbar__item">
                    <a href="#">About us</a>
                    <ul class="dropdown">
                        <li><a href="#">Descripción de la Solución</a></li>
                        <li><a href="#">Eventos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a href="#">Tutoriales</a>
                    <ul class="dropdown">
                        <li><a href="#">Usando Smarthphone</a></li>
                        <li><a href="#">Accdiendo a Internet</a></li>
                        <li><a href="#">Comunicación</a></li>
                        <li><a href="#">Redes Sociales</a></li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a href="#">Comunidad</a>
                    <ul class="dropdown">
                        <li><a href="#">Chat en Vivo</a></li>
                        <li><a href="#">Preguntaste Frecuentes</a></li>
                        <li><a href="#">Guias Paso a Paso</a></li>
                        <li><a href="#">Ayuda el Usuario</a></li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a href="#">Gestion de Perfiles</a>
                    <ul class="dropdown">
                        <li><a href="#">Iniciar Sesion</a></li>
                        <li><a href="#">Registro</a></li>
                        <li><a href="#">Edición de Perfil</a></li>
                        <li><a href="#">Preferencias de idiama</a></li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a href="#">Configuracion y Accesibilidad</a>
                    <ul class="dropdown">
                        <li><a href="#">Tamaño de Texto</a></li>
                        <li><a href="#">Contraste</a></li>
                        <li><a href="#">Función para la voz interactiva</a></li>
                        <li><a href="#">Contraste</a></li>
                    </ul>
                </li>
    
    
            </ul>
    
            <div class="navbar__buttons">
                <button>Login</button>
                <button>Sign Up</button>
            </div>
        </nav>
    </header>
</body>
</html>