@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Navbar Styles */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000; 
    color: black; 
    transition: background-color 0.3s ease, padding 0.3s ease; 
    z-index: 1000;
}

.navbar:hover {
    background-color: #000; 
    padding: 20px 20px; 
}

.navbar__logo img {
    width: 10rem;
}

.navbar__links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    position: relative;
}

.navbar__item a {
    color: #fff; 
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar__item a:hover {
    background-color: #C39682; 
}

/* Dropdown menu */
.dropdown {
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #f0f0f0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: -1; 
}

.dropdown li {
    width: 100%;
}

.dropdown li a {
    padding: 10px 20px;
    display: block;
    color: black;
}

.dropdown li a:hover {
    background-color: #C39682;
}

.navbar__item:hover .dropdown {
    display: block;
    top: calc(100% + 10px); 
}

.navbar__buttons button {
    background-color: #C1937D;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar__buttons button:hover {
    background-color: #83574E;
}

/* Navbar transparente inicialmente */
.navbar:hover {
    background-color: #000; 
    padding: 20px 20px;
}

/* Responsive styles for the navbar */
@media (max-width: 768px) {
    .navbar__links {
        flex-direction: column;
        display: none;
        background-color: #fff;
        width: 100%;
        text-align: center;
    }

    .navbar__links.active {
        display: flex;
    }

    .navbar__buttons {
        display: none;
    }

    .navbar__toggle {
        display: block;
    }
}
/* Home Section */
.home {
    position: relative;
    background-image: url('../imgs/home.webp');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    text-align: center;
    padding: 0 20px; 
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.home__text {
    position: relative;
    z-index: 2; 
    max-width: 800px; 
}

.home__title {
    font-size: 3em;
    margin-bottom: 20px;
}

.home__description {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Animation */
@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

/* About Us */
.about-us {
    background-color: #D9D9D9;
    padding: 50px 0;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.about-us__image {
    flex: 1 1 50%;
    max-width: 400px;
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}

.about-us__image img {
    width: 100%;
    height: auto;
    display: block;
}

.about-us__text {
    flex: 1 1 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us__title {
    width: 80%;
    font-size: 2em;
    margin-bottom: 20px;
}

.about-us__description {
    width: 80%;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.footer-container {
  width: 100%;
  height: 100%;
  background: #0000fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container ul {
  font-size: 12px;
  list-style: none;
  color: #86868b;
}

.footer-container ul li {
  margin: 15px 0;
  letter-spacing: 0.1px;
}
.footer-links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.linea-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente (si aplica) */
  width: 100%;
  height: 4px;
  margin-bottom: 1rem;
}

.linea-container-s {
  width: 75%;
  height: 2px;
  background: #ff0000;
  border-radius: 2px;
}

.footer-links-column {
  width: 20%;
  background: #00ff00;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img-c {
  display: flex;
  justify-content: center;
  align-items: center;
  bac
}

.footer-links-column-title {
  font-weight: 500;
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: 10px;
  letter-spacing: 2.5px;
}

.footer-links-column ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-links-column li {
  margin-bottom: 16px;
}

.footer-links-column a {
  font-size: 16px;
  color: rgb(54, 255, 185)
  text-decoration: none;
}

.footer-links-column a:hover {
  text-decoration: underline; 
}

.footer-derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #FFFF00;
  margin-bottom: 1rem;
}
